.title {
  text-align: center;
  padding-inline: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: stretch;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  box-shadow: 0 0.05em 0.1em 0 rgb(0 0 0 / 0.2);
  width: min(90%, 40rem);
  margin-inline: auto;
}

.button {
  margin-top: 0.5rem;
  cursor: pointer;
  border: 0;
  background-color: skyblue;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bold;
}

.button:disabled {
  cursor: auto;
  background-color: lightblue;
}

.form-switch {
  text-align: center;
  color: slategrey;
}

.form-switch a {
  color: inherit;
}

.form-switch a:hover {
  color: black;
}