.container {
  width: min(100% - 4rem, 60rem);
  margin-inline: auto;
}

.footer {
  background-color: black;
  color: white;
  text-align: right;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
}

@media (width < 760px) {
  .footer {
    position: static;
  }
}