.container {
  width: min(100% - 4rem, 60rem);
  margin-inline: auto;
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}

.links {
  display: flex;
  gap: 1rem;
}

.footer {
  background-color: black;
  color: white;
  text-align: right;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (width < 35rem) {
  .nav {
    background-color: #eee;
    position: fixed;
    top: 1rem;
    width: calc(100% - 4rem);
    border-radius: 1.5rem;
  }

  .links {
    display: none;
  }

  .footer {
    position: static;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
  }
}
